#main autoban config
[autoban]
mysqlHost=127.0.0.1
mysqlDatabase=autoban
mysqlUser=autoban
mysqlPass=autoban


#plugins
[whitelist-filter]
whitelistips=192.168.15.0/24,192.168.13.0/24



[geoip-filter]
#where is the geolite db installed? (ipv4 or 6)
geoliteDatabase=/var/lib/GeoIP/GeoIPv6.dat

#where is the geoorg db installed?
geoOrgDatabase=/var/lib/GeoIP/var/lib/GeoIP/GeoIPOrg.dat



[nginx-es-input]
#elasticsearch servers:port
elasticsearchServers=atuin.local.lan:9200

#what is the transport mech?
transport=http

#what time period do you want to search for?
searchPeriod=now-15m

#how many of the top ips should we get?
topIps=50


#what are ok crawlers that hit you hard or other orgs?
crawlers="microsoft|yandex|yahoo|google"

#where can we find a copy of the current nginx ban file?
#http or local
share=local

#if http use full url with protocol. otherwise full or relative path.
location=./examples/nginxban.conf

#if you have a host that does internal tasks such as cache purges or other high-request taks and want to do compare your traffic to that host, use its ip here (ie if it does 30k req/min and nothing should ever do more requests/min then it). If not, leave this as a blank string
internalComparison='192.168.15.6'

#the only response codes you should see?
goodResponseCodes="200|302|304|401|306|500"

logstashType="nginxAccess"